# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Run Tests

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6.0.1
      - name: Set up Python 3.11
        uses: actions/setup-python@v6.1.0
        with:
          python-version: 3.11
      - name: Install dependencies
        run: |
          pip install -r requirements.txt
          pip install -r requirements-test.txt
      - name: Check formatting with ruff
        run: |
          ruff format examples pychromecast --check --diff
      - name: Lint with ruff
        run: |
          ruff check examples pychromecast
      - name: Lint with mypy
        run: |
          mypy examples pychromecast
      - name: Lint with pylint
        run: |
          pylint examples pychromecast
      - name: Lint with rstcheck
        run: |
          rstcheck README.rst
